/*Ribbon Styles*/

.ribbon {
    font-size: 15px !important;
    position: relative;
    background: rgb(23,73,152);
    background: linear-gradient(90deg, rgba(9,34,71,1) 0%, rgba(9,34,71,1) 65%,  rgba(23,73,152,1) 100%);
    color: #fff !important;
    padding: 1em 1em;
    margin: 2em auto 2em -15px !important;
    min-height: 140px;
}

.checkcss {
    font-size: 6px;
}

.ribbon svg {
    display: none;
}

.ribbon .ribbon-logo {
    height: 30px;
    width: 156px;
    padding: 0 .15em;
}
.ribbon-content__line-1 {
    font-size: 20px;
    min-height: 35px;
    margin-bottom: 1em;
}
.ribbon-content__line-2 {
    font-size: 12px;
    text-align: center;
}

.ribbon:after {
    display: none;
}

@media screen and (min-width: 768px) {
    .ribbon {
        width: 80%;
        text-align: left;
    }

    .ribbon-content__line-2 {
        text-align: inherit;
    }

    .line-1--part1,
    .line-1--part2 {
        display: block;
        margin: 10px 0;
    }

    .ribbon:after {
        display: block;
    }
}


.ribbon:after {
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 0;
}

.ribbon:after {
    top: 0;
    bottom: 0;
    right: -69px;
    border-color: rgba(23,73,152,1) transparent;
}

.ribbon:after {
    border-top-width: 86px;
    border-right-width: 87px;
    border-bottom-width: 87px;
    border-left-width: 0;
    right: -86px;
}

@media (min-width: 1024px) {
    .ribbon:after {
        border-top-width: 70px;
        border-right-width: 70px;
        border-bottom-width: 70px;
        border-left-width: 0;
        right: -69px;
    }
}
